body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
input {
  float: left;
}
input.range {
  width: 300px;
}
h1 {
  padding-left: 3px;
  padding-top: 10px;
  clear: both;
}
h1 span {
  padding-left: 5px;
  color: #008000;
}
